
<script lang="ts">
	interface Props {
		size?: number,
		class?: string,
		hidden?: boolean
	}
	let { size, hidden=false, ...props }: Props = $props();
	let px = `${size || 24}px`;
</script>

<div style:height={px} style:width={px} class={props.class || ""} {hidden}>
	{{{ svgContent }}}
</div>
